<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/projects">Projects</a>
        </li>
        <li>
            <a href="/tasks">Tasks</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/create_task">create_task</a>
        </li>
        <li>
            <a href="/create_project">Create_project</a>
        </li>
    </ul>
</nav>

{% block content %}
{% endblock %}

<p>Develop by ©Jymy</p>